@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}
@font-face {
    font-family: 'Lato';
    src: url('Lato-Light.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'Wreath';
    src: url('wreathmedium.otf') format('opentype');
    font-weight:400;
    font-style:normal;
}
@font-face {
    font-family:'Halo Handletter';
    src: url('HaloHandletter.otf') format('opentype');
    font-weight:400;
    font-style:normal;
}
/*
@font-face {
    font-family:'MuseoSansRounded';
    src: url('museosansrounded-100-webfont.eot');
    src: url('museosansrounded-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosansrounded-100-webfont.woff') format('woff'),
         url('museosansrounded-100-webfont.ttf') format('truetype'),
         url('museosansrounded-100-webfont.svg#museo_sans_rounded100') format('svg');
    font-weight:100;
    font-style:normal;
}
@font-face {
    font-family:'MuseoSansRounded';
    src: url('museosansrounded-900-webfont.eot');
    src: url('museosansrounded-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosansrounded-900-webfont.woff') format('woff'),
         url('museosansrounded-900-webfont.ttf') format('truetype'),
         url('museosansrounded-900-webfont.svg#museo_sans_rounded900') format('svg');
    font-weight:800;
    font-style:normal;
}
@font-face {
    font-family:'MuseoSansRounded';
    src: url('museosansrounded-1000-webfont.eot');
    src: url('museosansrounded-1000-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosansrounded-1000-webfont.woff') format('woff'),
         url('museosansrounded-1000-webfont.ttf') format('truetype'),
         url('museosansrounded-1000-webfont.svg#museo_sans_rounded1000') format('svg');
    font-weight:900;
    font-style:normal;
}
*/